<div data-role="view" id="view-all-contacts" data-layout="default" class="contacts-view" data-model="app.viewModels.contacts">
    <header data-role="header">
        <div data-role="navbar">
            Phone contacts
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.viewModels.contacts.logout">Logout</a>
            <a class="nav-button" data-align="right" data-role="button" data-click="app.viewModels.contacts.sync">Sync</a>
        </div>
    </header>
   
    <ul id="contacts-listview" data-role="listview" data-template="contactTemplate"
        data-bind="source: contacts">
    </ul>
    
    <p id="no-contacts-span" hidden="hidden" class="no-items-msg">
        <b>You appear to have no contacts.</b><br /><br />Tap the sync button above to get them from the server.
    </p> 
</div>

<div data-role="modalview" id="modalview-syncProgress" style="width: 95%; height: 18em;">
        <label for="syncProgress">Sync in progress</label> <br>
    <label for="syncProgressMsg">Fetching data from the server...</label>
    <!--temprory button, should be removed!-->
    <a data-click="closeModalViewProgress" id="modalview-syncProgress-button" type="button" data-role="button">Close</a>
</div>

<div data-role="modalview" id="modalview-syncFailed" style="width: 95%; height: 18em;">
    <label for="syncFailed">Sync failed</label><br>
    <label for="syncFailedMsg">An error occurred during sunchronization. Your contacts are not synchronized with the server.</label>
   
    <a data-click="closeModalViewSyncFailed" id="modalview-syncFailed-cancel-button" type="button" data-role="button">OK</a>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="contactTemplate">
    ${displayName}
</script>

<script>
    function closeModalViewProgress() {
        $("#modalview-syncProgress").kendoMobileModalView("close");
    }
    function closeModalViewSyncFailed() {
        $("#modalview-syncFailed").kendoMobileModalView("close");
    }
</script>