<div data-role="view" id="view-all-contacts" data-layout="default" class="contacts-view" data-model="app.viewModels.contacts">
    <header data-role="header">
        <div data-role="navbar">
            Phone contacts
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.viewModels.contacts.logout">Logout</a>
            <a class="nav-button" data-align="right" data-role="button" data-rel="modalview" href="#modalview-syncType">Sync</a>
        </div>
    </header>
   
    <ul id="contacts-listview" data-role="listview" data-template="contactTemplate"
        data-bind="source: contacts">
    </ul>
    
    <p id="no-contacts-span" hidden="hidden" class="no-items-msg">
        <b>You appear to have no contacts.</b><br /><br />Tap the sync button above to get them from the server.
    </p> 
</div>

<div data-role="modalview" id="modalview-syncType" class="blockButtons" style="width: 95%; height: 15.4em;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Choose how to sync</span>
        </div>
    </div>
    
    <a data-role="button" data-click="app.viewModels.contacts.forceDownload">Download all from server</a>
    <a data-role="button" data-click="app.viewModels.contacts.forceUpload">Upload all to server</a>
    <a data-role="button" data-click="app.viewModels.contacts.closeModal">Cancel</a>
</div>

<div data-role="modalview" id="modalview-syncFailed" class="blockButtons" style="width: 95%; height: 17.5em;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Sync failed</span>
        </div>
    </div>
    
    <p>An error occurred during synchronization.<br>Your contacts are not synchronized with the server.</p>
    
    <a data-role="button" data-click="app.viewModels.contacts.closeModal">Close</a>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="contactTemplate">
    ${displayName}
</script>