<div data-role="view" id="view-merge-contact" data-layout="default" class="merge-view" data-model="app.viewModels.conflict">
    <header data-role="header">
        <div data-role="navbar">
            Merge contact
        </div>
    </header>
    
    <p>The local contact differs from the server.<br>What do you want to do?</p>
    
    <a class="action-button" data-align="center" data-role="button" data-type="0" data-click="app.viewModels.conflict.conflict.setMergeAction">Local data is correct</a>
    <a class="action-button" data-align="center" data-role="button" data-type="1" data-click="app.viewModels.conflict.conflict.setMergeAction">Server data is correct</a>
    <a class="action-button" data-align="center" data-role="button" data-type="2" data-click="app.viewModels.conflict.conflict.setMergeAction">Keep both entries</a>
</div>