body.ios-offset {
    margin-top: 20px;
}

.ios-offset .km-view {
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: calc(100% - 20px);
}

/* Buttons */
.km-button.btn-big
{
    padding: .5em .5em;    
    font-size: 1.2em;
    font-weight: normal;
}

.km-button.btn-big
{
    min-width: 7em;
}

.sngl-btn-wrp
{ 
    text-align: center;
}
textarea
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    line-height: normal;
    font-family: inherit;
    outline: 0;
    border: 0;
    font-size: 1.1rem;
    padding: .6em;
}
.validation, .k-invalid-msg
{
    display: none;
    margin: 1rem 0 0;
    padding: 0 1rem;
    color: #f00;
}
.share-form-wrp, .user-status-wrp, .take-avatar-wrp
{
    margin: 1rem;   
}
/* List widget */
.no-items-msg
{
    padding: 5rem 1rem 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.no-items-msg b
{
    padding-bottom: 2rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
}

/* Welcome screen */
.welcome-scrn h1
{
    position: relative;
    margin: .8em .3em .5em;
    text-align: right;
    line-height: .9;
    font-size: 3em;
    font-weight: bold;
    font-family: "Century Gothic";
    color: #444;
}

.welcome-scrn .group-wrp
{
    margin: 1em 2em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.welcome-scrn .group-wrp li
{
    margin: 1.5em 0 0;
    padding: 1.5em 0 0;    
}
.welcome-scrn .group-wrp li:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.form-row
{
    margin: .7em 2em 0;
}

.form-row input
{
    width: 100%;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    
    font-size: 1.2em;
    padding: .5em 1em;
    border: 1px solid #ccc;
    background-color: #fff;
}

.km-contacts:after,
.km-contacts:before
{
    content: "\e219";
}

.km-sync:after,
.km-sync:before
{
    content: "\e0f6";
}
.group-wrp .social-login:first-child{
    margin-top: 3em;
}

.welcome-scrn .group-wrp .social-login {
    margin: 0;
    padding: 0;
}
.social-login .btn-big {
    width: 85%;
    text-align: left;
}

.welcome-scrn .group-wrp {
    margin-top: 2em;
}

.social-login .km-button {
    
    color: #fff;
    padding: .4em .6em .4em 2em;
}

.social-login .km-button::before
{
    display: none;
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    top: .6em;
    left: .6em;
    
    background-image: url(images/sprite-social.png);
    background-color: transparent;
    background-size: 16px 80px;
}

.km-button.btn-login-fb { background-color: #306DB0; }
.km-button.btn-login-fb::before { background-position: 3px -298px; }
.km-button.btn-login-google { background-color: #dd4b39; }
.km-button.btn-login-liveid { background-color: #00a1b5; }


.blockButtons .km-button {
    display: block;
    text-align: center;
    margin: 1em 1em 0;
}

#modalview-syncFailed p {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: .7em;
}